{% extends 'html/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Create RFQ</h4>
            <div class="ms-auto text-right">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">RFQs</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'rfqhub:client-rfq-dashboard' %}">Clients Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Create RFQ</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<!-- ============================================================== -->
<!-- Card Form  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow">

                <div class="card-header py-3">
                    <!-- Add New Item Button -->
                    <span>
                        <a href="{% url 'rfqhub:client-rfq-list' %}" class="btn btn-warning">
                            {% comment %} <span class="icon text-white-50">
                                <i class="fas fa-reply"></i>
                            </span> {% endcomment %}
                            <span class="text">Go to RFQ List</span>
                        </a>
                    </span>
                </div>

                <form method="post" class="form-horizontal">
                    {% csrf_token %}
                    <div class="card-body">
                        <h4 class="card-title">Form</h4>
                        {{ form|crispy }}
                    </div>
                    <div class="border-top">
                        <div class="card-body">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- editor -->
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
</div>

{% endblock %}